<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Country {{country.country}}</title>
            <style>
        .menu{
        border: 2px solid green;
        }
        .main{
        border: 4px solid green;

        content {
        margin-top: auto;
        margin-botton: 20px;
        }
        footer {
        border: 2px solid blue;

        }
    </style>
</head>
<body>
    <nav class = "menu">
        <a href = '/'/>Домой</a> / <a href = '/countries-list'/>К списку стран</a>
    </nav>
<center>
    <big>
        <nav class = "main">
            <h1>
            Список языков страны {{country.country}}:
            </h1>
        </nav>
    </big>
</center>
<big>
    <nav class = "menu">
        <ol>
            {% for language in country.languages %}
                <li><a href = 'speaking-countries/{{ language }}'> {{ language }}</a></li>
            {% endfor %}
        </ol>
    </nav>
</big>
</body>
</html>