<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
        <style>
        .menu{
        border: 2px solid green;
        }
        .main{
        border: 4px solid green;

        content {
        margin-top: auto;
        margin-botton: 20px;
        }
        footer {
        border: 2px solid blue;

        }
    </style>
</head>
<body>
<big>
    <big>
        <nav class = "main">
            <center>
                <h1>
                    Our Countries
                </h1>
            </center>
        </nav>
    </big>
</big>
</body>
<center>
    <nav class = 'menu'>
       <h1> <a href = "/countries-list"> Страны</a> </h1>
        <h2> <a href = "/languages-list"> Языки </a> </h2>
    </nav>
</center>


<footer>
    <center>(c) Библиотека (с) "Our Countries". 2022.
                    Автор: Бурзилов Я.В.</center>

</footer>
</html>